<html>
  <head>
    <title>Hot Light Status</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='semantic/dist/semantic.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for ('static', filename='assets/cold_donut_icon.jpg') }}" />
    <script src="{{ url_for ('static', filename='semantic/dist/semantic.min.js') }}"></script>
  </head>
  <body>
    <div class="ui container content"> 
        <img class="ui centered image" id="light" src="{{ url_for ('static',filename='assets/off_krispy_kreme.png') }}">

        <h3 id="output" class="text white ui center aligned grid">
        </h3>
    </div>
    <footer>
      <div class = "ui vertical footer segment">
        <p class="ui center aligned grid white text">Made with ❤️ by <a class="white text" href="http://robertolsthoorn.com">Robert Olsthoorn</a></p>
      </div>
    </footer>
    <script type="text/javascript" src="{{ url_for ('static', filename='index.js') }}"></script>
  </body>
</html>